En este proyecto vamos a transformar datos

In [28]:
# Eliminar aquella vivienda que no tiene precio, area ni districto
%pip install pandas
import pandas as pd
df=pd.read_csv('barcelona_viviendas_dataset.csv', sep=',')
df.info()

Requirement already satisfied: pandas in c:\users\zecha\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\zecha\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\zecha\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\zecha\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\zecha\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18217 entries, 0 to 18216
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uid                   18217 non-null  int64
 1   price_euro            18217 non-null  int64
 2   district              18217 non-null  object
 3   area                  18205 non-null  float64
 4   room_num              17939 non-null  float64
 5   bath_num              17997 non-null  float64
 6   furnished             2373 non-null   object
 7   has_parking           9284 non-null   object
 8   has_elevator          15121 non-null  object
 9   has_air               13392 non-null  object
 10  distributions_detail  18214 non-null  object
 11  features_detail       17866 non-null  object
 12  name                  18217 non-null  object
 13  description           18217 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 1.9+ MB

In [29]:
df=df[df['area'].notnull()]
df=df[df['room_num'].notnull()]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17932 entries, 0 to 18216
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uid                   17932 non-null  int64
 1   price_euro            17932 non-null  int64
 2   district              17932 non-null  object
 3   area                  17932 non-null  float64
 4   room_num              17932 non-null  float64
 5   bath_num              17843 non-null  float64
 6   furnished             2338 non-null   object
 7   has_parking           9146 non-null   object
 8   has_elevator          14936 non-null  object
 9   has_air               13223 non-null  object
 10  distributions_detail  17932 non-null  object
 11  features_detail       17619 non-null  object
 12  name                  17932 non-null  object
 13  description           17932 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.1+ MB

,uid,price_euro,district,area,room_num,bath_num,furnished,has_parking,has_elevator,has_air,distributions_detail,features_detail,name,description
0,1,420000,Esquerra Alta de l´Eixample,85.0,3.0,2.0,NaN,NaN,True,True,3 habitaciones%;%Superficie 85 m2%;%2 Baños%;%...,Calefacción%;%Aire acondicionado%;%Año constru...,Piso oportunidad para familias o parejas. en E...,Oportunidad para familias o parejas..Garlasa T...
1,2,370000,Poblenou,62.0,2.0,1.0,NaN,True,True,NaN,2 habitaciones%;%Superficie 62 m2%;%1 Baño%;%L...,Plaza parking%;%Cerca de transporte público%;%...,Piso 62m2 en carrer perello obra nueva en Pobl...,Obra nueva.Inmueble de obra nueva pertenecient...
2,3,345000,Sagrada Família,55.0,2.0,1.0,NaN,NaN,True,True,2 habitaciones%;%Superficie 55 m2%;%1 Baño,Aire acondicionado%;%Año construcción 1925%;%A...,Piso en Sagrada Família Barcelona,".\""Este piso frente a la fachada del Nacimient..."
3,4,289800,La Marina-Port,90.0,3.0,2.0,NaN,True,True,NaN,3 habitaciones%;%Superficie 90 m2%;%Balcón / T...,Plaza parking%;%Cerca de transporte público%;%...,Piso 90m2 en carrer foc obra nueva en La Marin...,Obra nueva.Visita Piso PilotoAQ URBAN FIRA¿Con...
4,5,525000,Sarrià,68.0,3.0,1.0,NaN,NaN,True,True,3 habitaciones%;%Superficie 68 m2%;%1 Baño%;%C...,Calefacción%;%Aire acondicionado%;%Año constru...,Piso en venta en Sarrià. en Sarrià Barcelona,Piso en venta en Sarrià..En el corazón de Sarr...

Sacar estadística para cada barrio,  que tendrá los siguientes campos:

- **barrio**:nombre de barrio
- **total_area_for_sale**: area de vivienda en venta
- **num_sale**: número de viviendas en venta
- **mean_price**:precio medio de las viviendas
- **median_price**: la mediana de los precio de las viviendas
- **max_price**: precio máximo
- **min_price**: precio mínimo
- **mean_price_m2**:precio medio de las viviendas por m2
- **median_price_m2**:la mediana de los precio por m2 de las viviendas
- **max_price_m2**:precio máximo m2
- **min_price_m2**:precio mínimo m2
- **mean_m2_price_with_elevator**: precio medio de viviendas con ascensor
- **mean_m2_price_with_terrace**: precio medio de vieviendas con terraza
- **mean_m2_price_with_attic**: precio medio de viviendas con atico
- **mean_m2_price_with_parking**: precio medio de viviendas con parking
- **mean_m2_price_with_furnished**: precio medio de vivienda con muebles
- **frecuent_room_num**: número de habitaciones más comunes
- **frecuent_area**: area de viviendas más comunes

In [107]:
import numpy as np
distric_data = {}

for index, row in df.iterrows():
    uid = row['uid']
    barrio_name = row['district']
    area = row['area']
    room_num = row['room_num']
    description = row['description']
    price = row['price_euro']
    price_m2 = price/area
    furnished = row['furnished']
    detail = row['features_detail']
    ascensor = row['has_elevator']
    parking = row['has_parking']
    if barrio_name not in distric_data:
        distric_data[barrio_name] = {
            'uid': [uid],
            'area': [area],
            'barrio': [barrio_name],
            'room_num': [room_num],
            'description': [description],
            'price': [price],
            'price_m2': [price_m2],
            'furnished': [furnished],
            'features_detail': [detail],
            'ascensor': [ascensor],
            'parking': [parking]

        }
    else:
        distric_data[barrio_name]['uid'].append(uid)
        distric_data[barrio_name]['area'].append(area)
        distric_data[barrio_name]['barrio'].append(barrio_name)
        distric_data[barrio_name]['room_num'].append(room_num)
        distric_data[barrio_name]['description'].append(description)
        distric_data[barrio_name]['price'].append(price)
        distric_data[barrio_name]['price_m2'].append(price_m2)
        distric_data[barrio_name]['furnished'].append(furnished)
        distric_data[barrio_name]['features_detail'].append(detail)
        distric_data[barrio_name]['ascensor'].append(ascensor)
        distric_data[barrio_name]['parking'].append(parking)

results = []
for barrio_name, values in distric_data.items():

    with_elevator_price = []
    with_attic_price = []
    with_terrace_price = []
    with_parking_price = []
    with_furnish_price = []
    # parking
    for idx, parking in enumerate(values['parking']):
        if parking == True:
            with_parking_price.append(values['price_m2'][idx])
    # ascensor
    for idx, ascensor in enumerate(values['ascensor']):
        if ascensor == True:
            with_elevator_price.append(values['price_m2'][idx])

    for idx, mueble in enumerate(values['furnished']):
        if mueble == True:
            with_furnish_price.append(values['price_m2'][idx])

    for idx, description in enumerate(values['description']):
        # atico
        if 'atico' in description.lower() or 'ático' in description.lower():
            with_attic_price.append(values['price_m2'][idx])
        # terraza
        if 'terraza' in description.lower() and 'sin terraza' not in description.lower():
            with_terrace_price.append(values['price_m2'][idx])

    area_10_scale = []
    for area in values['area']:
        area_10_scale.append(area//10)

    most_frecuent_area = pd.value_counts(area_10_scale).index[0]*10

    results.append({
        'barrio_name': barrio_name,
        'num_sale': len(values['uid']),
        'total_area_for_sale': int(sum(values['area'])),
        'mean_price': int(np.mean(values['price'])),
        'median_price': int(np.median(values['price'])),
        'max_price': max(values['price']),
        'min_price': min(values['price']),
        'mean_price_m2': int(np.mean(values['price_m2'])),
        'median_price_m2': int(np.median(values['price_m2'])),
        'max_price_m2': int(max(values['price_m2'])),
        'min_price_m2': int(min(values['price_m2'])),
        'mean_m2_price_with_elevator': int(np.nan_to_num(np.mean(with_elevator_price))),
        'mean_m2_price_with_terrace': int(np.nan_to_num(np.mean(with_terrace_price))),
        'mean_m2_price_with_attic': int(np.nan_to_num(np.mean(with_attic_price))),
        'mean_m2_price_with_parking': int(np.nan_to_num(np.mean(with_parking_price))),
        'mean_m2_price_with_furnished': int(np.nan_to_num(np.mean(with_furnish_price))),
        'frecuent_room_num': int(pd.value_counts(values['room_num']).index[0]),
        'frecuent_area': int(most_frecuent_area)
    })

result_data=pd.DataFrame(results)

C:\Users\zecha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\zecha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [108]:
result_data.fillna(0)
result_data

,barrio_name,num_sale,total_area_for_sale,mean_price,median_price,max_price,min_price,mean_price_m2,median_price_m2,max_price_m2,min_price_m2,mean_m2_price_with_elevator,mean_m2_price_with_terrace,mean_m2_price_with_attic,mean_m2_price_with_parking,mean_m2_price_with_furnished,frecuent_room_num,frecuent_area
0,Esquerra Alta de l´Eixample,744,81439,612826,500000,5250000,165000,5517,5357,16931,2777,5544,6093,6744,6222,5713,3,80
1,Poblenou,385,35378,479670,400000,1995000,150000,5129,4831,14777,2410,5387,5952,7527,5919,5196,3,50
2,Sagrada Família,582,52184,374589,340000,4850000,49000,4272,4086,37307,662,4228,4664,4869,4079,4655,3,80
3,La Marina-Port,40,3058,238782,230000,502000,69000,3154,3175,5325,1437,3327,3667,3243,3440,1437,3,70
4,Sarrià,247,47976,1291753,920000,7450000,245000,67049,6269,7450000,2631,7194,7395,7220,66176,5604,3,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Canyelles,25,2392,201368,197700,299900,39000,2321,2418,3224,453,2283,2654,0,1888,2550,3,80
66,El Coll,79,7439,280600,249700,710000,90000,3005,2800,5483,946,3213,3431,3960,3957,2714,3,100
67,Montbau,31,2396,252412,215000,1200000,54000,3063,2661,10714,1993,2976,4498,0,3667,2658,3,70
68,Vila Olímpica,48,5994,671166,650000,2500000,245000,5384,5322,8153,3789,5283,5517,5358,5553,4960,3,150
69,Vallbona,7,1358,246428,250000,360000,115000,1548,1470,3214,297,3214,1271,0,1465,2440,3,170

In [110]:
result_data.to_csv("barrio_vivienda_data.csv",index=False)